*{
    margin: 0;
    padding: 0;
}


.main_container{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 5%;
    border: 2px solid black;
    width: 80%;
    background-color: lemonchiffon;
}

.right_side{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid black;
    width: 15rem;
    height: 30rem;
    margin: 2rem;
    background-color: burlywood;
    font-size: 100%;
   
}

.previous{
    padding: 1rem;
    font-size: large;
}

h3{
    padding: 1rem;
    font-size: 150%;
}


.title{
    border: 1px ;
    min-width: 50%;
    padding: 1rem;
    font-size: 200%;
    position: relative;
    left: 40%; 
    
}

.input_name{
    display: flex;
    flex-direction: row;
    min-width: 50vw;
    padding: 2rem;
}

label{
    margin-right: 1rem;
    font-size: 150%;
}

#name{
    font-size: 110%;
    width: 7rem;
    height: 2rem;
    text-align:center;
}

button{
    font-size: 120%;
    padding: 1rem;
    margin-bottom: 1rem;
    position: relative;
    left: 40%;
}

button:hover{
    background-color: white;
}

.gender_container, .age_container, h2{
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
}

hr{
    margin: 1.5rem;
}

 .gender, .age{
    border: 1px solid black;
    min-width: 6rem;
    max-height: 2rem;
    background-image: url(OIP.jpeg) ;
    text-align: center;
    font-size: 1.4rem;
 }


 .country_flags{
    display: flex;
    flex-direction: row;
 }
 .countryANDflag {
    border: 1px solid black;
    height: 3rem;
    background-image: url(OIP.jpeg) ;
    width: 4rem;
    text-align: center;
    margin-left: 2rem;
    list-style-type: none;   
 }



 